h1{
    text-align: center;
    color: #15337d;
}

h2{
    text-align: center;
    color: #15337d;
}

h3{
    text-align: center;
    color: #15337d;
}

table{
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 100%;
    table-layout: fixed;
}

th{
    background-color: #799eed;
    padding: 10px;
    color: #15337d;
}

td{
    background-color: #d1daf0;
    padding: 10px;
}