h1{
    text-align: center;
}

h2{
    text-align: center;
}

table{
    text-align: center;
    margin: auto;
    padding: 15px;
    width: 100%;
}

th{
    background-color: #799eed;
    padding: 10px;
}

td{
    background-color: #d1daf0;
    padding: 10px;
}