h1{
    color: #19d451;
}

body{
    background-color: #d8f2dc;
}

.novaCor{
    color: #119127;

}

.maior{
    font-size: large

}
a:link {
    color: rgb(14, 73, 14);
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: yellowgreen
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: blueviolet
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }